@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0d0d0d;
  --color-neon: #00ffff;
}

@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-neon);
  font-family: 'Orbitron', sans-serif;
}
